.row {
    display: flex;
    padding: 35px;
    flex-flow: row wrap-reverse;
    position: relative;
    height: 800px;
}

.cube {
    position: relative;
    flex-basis: 16.666%;
    flex: 1;
}

.side {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: goldenrod;
    font-size: 40px;
    border: rgb(0, 0, 0, 0.25) solid 1px;
    border-radius: 5px;
}

.red>* {
    background-color: rgba(134, 7, 47, 0.75);
}

.orange>* {
    background-color: rgba(200, 65, 32, 0.75);
}

.yellow>* {
    background-color: rgba(175, 199, 56, 0.75);
}

.green>* {
    background-color: rgba(117, 200, 139, 0.75);
}

.blue>* {
    background-color: rgba(46, 123, 224, 0.75);
}

.purple>* {
    background-color: rgba(82, 12, 139, 0.75);
}


/* .front {
} */

.back {
    transform: rotateX(180deg) translateZ(100px);
    text-decoration: underline;
}

.top {
    transform: rotateX(90deg) rotateZ(180deg) translateZ(50px) translateY(50px);
}

.left {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(50px) translateY(50px);
}

.right {
    transform: rotateY(90deg) rotateZ(270deg) translateZ(50px) translateY(50px);
}

.bottom {
    transform: rotateX(270deg) translateZ(50px) translateY(50px);
}

.six {
    transform-style: preserve-3d;
    transform: rotateZ(180deg);
}

.spin {
    cursor: pointer;
    /* transform: rotateX(0deg) rotateY(45deg); */
    transform-origin: 50px 50px -50px;
    transform-style: preserve-3d;
    animation: spin-origin-50 3s linear infinite;
}

@keyframes spin-origin-50 {
    0% {
        transform: rotateX(90deg) rotateY(180deg);
        transform-origin: 50px 50px -50px;
    }
    50% {
        transform: rotateX(270deg)rotateY(360deg);
        transform-origin: 50px 50px -50px;
    }
    100% {
        transform: rotateX(450deg)rotateY(540deg);
        transform-origin: 50px 50px -50px;
    }
}
